In [ ]:
# Necessary liabrary
import numpy as np
import pandas as pd

In [ ]:
#Read the csv file
df = pd.read_csv('/content/Orders_Items_Data.csv')

In [ ]:
#Sample dataset
df.head()

,order_id,customer,city_id,created_at,delivery_time,undelivered_time,order_type,order_source,order_status,payment_method,...,product_id,variant_id,ordered_qty,per_unit_price,city,pincode,state,first_utm_source,first_referrer,first_utm_campaign
0,"52,739","33,621",1,2020-10-23 00:00:00,NaN,NaN,Subscription,Dashboard,Cancelled,COD,...,2029138444376,20133185781848,1,28,Delhi,NaN,Delhi,NaN,NaN,NaN
1,"52,739","33,621",1,2020-10-23 00:00:00,NaN,NaN,Subscription,Dashboard,Cancelled,COD,...,2050577596504,20265170468952,1,31,Delhi,NaN,Delhi,NaN,NaN,NaN
2,"52,739","33,621",1,2020-10-23 00:00:00,NaN,NaN,Subscription,Dashboard,Cancelled,COD,...,2029131169880,20132946378840,1,28,Delhi,NaN,Delhi,NaN,NaN,NaN
3,"52,739","33,621",1,2020-10-23 00:00:00,NaN,NaN,Subscription,Dashboard,Cancelled,COD,...,2029139492952,20133222973528,1,31,Delhi,NaN,Delhi,NaN,NaN,NaN
4,"52,776","33,621",1,2020-10-09 00:00:00,NaN,NaN,Subscription,Dashboard,Cancelled,COD,...,2029131169880,20132946378840,1,28,Delhi,NaN,Delhi,NaN,NaN,NaN

In [ ]:
#Examining duplicated Values
df.duplicated().sum()

0

In [ ]:
# Summary of DataFrames
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7883 entries, 0 to 7882
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            7883 non-null   object
 1   customer            7883 non-null   object
 2   city_id             7883 non-null   int64
 3   created_at          7883 non-null   object
 4   delivery_time       7208 non-null   object
 5   undelivered_time    249 non-null    object
 6   order_type          7883 non-null   object
 7   order_source        7883 non-null   object
 8   order_status        7883 non-null   object
 9   payment_method      7883 non-null   object
 10  discount            7883 non-null   float64
 11  shipping_amt        7883 non-null   int64
 12  order_amt           7883 non-null   object
 13  payment_charges     7883 non-null   int64
 14  total_amt           7883 non-null   object
 15  product_id          7883 non-null   int64
 16  variant_id          7883 non-null   int64
 17  ordered_qty         7883 non-null   int64
 18  per_unit_price      7883 non-null   int64
 19  city                7883 non-null   object
 20  pincode             7828 non-null   float64
 21  state               7883 non-null   object
 22  first_utm_source    0 non-null      float64
 23  first_referrer      0 non-null      float64
 24  first_utm_campaign  0 non-null      float64
dtypes: float64(5), int64(7), object(13)
memory usage: 1.5+ MB

In [ ]:
# Count of null values
df.isna().sum()

order_id                 0
customer                 0
city_id                  0
created_at               0
delivery_time          675
undelivered_time      7634
order_type               0
order_source             0
order_status             0
payment_method           0
discount                 0
shipping_amt             0
order_amt                0
payment_charges          0
total_amt                0
product_id               0
variant_id               0
ordered_qty              0
per_unit_price           0
city                     0
pincode                 55
state                    0
first_utm_source      7883
first_referrer        7883
first_utm_campaign    7883
dtype: int64

# We need to handle the missing values in the dataset but for the relevant questions we don't need to closely look into this matter.

In [ ]:
# Analysing the NAN values in delivery time those are cancelled orders
df[df['delivery_time'].isna()]['order_status'].value_counts()

order_status
Cancelled    675
Name: count, dtype: int64

In [ ]:
df[df['undelivered_time'].isna()]['order_status'].value_counts()

order_status
Delivered    7040
Cancelled     594
Name: count, dtype: int64

In [ ]:
df[df['undelivered_time'].notnull()]['order_status'].value_counts()

order_status
Delivered    168
Cancelled     81
Name: count, dtype: int64

In [ ]:
# Convert date columns to datetime
df['created_at'] = pd.to_datetime(df['created_at'])
df['delivery_time'] = pd.to_datetime(df['delivery_time'])
df['undelivered_time'] = pd.to_datetime(df['undelivered_time'])

In [ ]:
type(df['total_amt'][109])

str

In [ ]:
# Convert total_amt to numeric
df['total_amt']= df['total_amt'].str.replace(',', '').astype(float)

In [ ]:
# Cross checking the summary section again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7883 entries, 0 to 7882
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            7883 non-null   object
 1   customer            7883 non-null   object
 2   city_id             7883 non-null   int64
 3   created_at          7883 non-null   datetime64[ns]
 4   delivery_time       7208 non-null   datetime64[ns]
 5   undelivered_time    249 non-null    datetime64[ns]
 6   order_type          7883 non-null   object
 7   order_source        7883 non-null   object
 8   order_status        7883 non-null   object
 9   payment_method      7883 non-null   object
 10  discount            7883 non-null   float64
 11  shipping_amt        7883 non-null   int64
 12  order_amt           7883 non-null   object
 13  payment_charges     7883 non-null   int64
 14  total_amt           7883 non-null   float64
 15  product_id          7883 non-null   int64
 16  variant_id          7883 non-null   int64
 17  ordered_qty         7883 non-null   int64
 18  per_unit_price      7883 non-null   int64
 19  city                7883 non-null   object
 20  pincode             7828 non-null   float64
 21  state               7883 non-null   object
 22  first_utm_source    0 non-null      float64
 23  first_referrer      0 non-null      float64
 24  first_utm_campaign  0 non-null      float64
dtypes: datetime64[ns](3), float64(6), int64(7), object(9)
memory usage: 1.5+ MB

In [ ]:
# 1. Revenue for the month: sum of the total amount of orders with a status of 'Delivered'
delivered_orders = df[df['order_status'] == 'Delivered'].drop_duplicates(subset='order_id')
revenue = delivered_orders['total_amt'].sum()
print(f"Revenue for the month: {revenue}")

Revenue for the month: 640779.4

In [ ]:
# 2. Discount offered: sum of the discount of orders with a status of 'Delivered'
discount_offered = delivered_orders['discount'].sum()
print(f"Discount offered: {discount_offered}")

Discount offered: 15814.6

In [ ]:
# 3. Count of unique delivered orders
delivered_unique_orders_count = delivered_orders['order_id'].nunique()
print(f"Count of unique delivered orders: {delivered_unique_orders_count}")


# 3. Count of total unique orders
total_unique_orders_count = df['order_id'].nunique()
print(f"Count of total unique orders: {total_unique_orders_count}")

Count of unique delivered orders: 2347
Count of total unique orders: 2561

In [ ]:
# 4. Count of unique customers
delivered_unique_customers_count = delivered_orders['customer'].nunique()
print(f"Count of unique customers: {delivered_unique_customers_count}")


# 4. Count of total unique customers
total_unique_customers_count = df['customer'].nunique()
print(f"Count of unique customers: {total_unique_customers_count}")

Count of unique customers: 1931
Count of unique customers: 2019

In [ ]:
# 5. Count of RTO orders
rto_orders_count = df[(df['order_status'] == 'Cancelled') & (df['undelivered_time'].notnull())]['order_id'].nunique()
print(f"Count of RTO orders: {rto_orders_count}")

Count of RTO orders: 31

In [ ]:
# 6. Average number of items in an order
avg_items_per_order = df.groupby('order_id')['ordered_qty'].sum().mean()
print(f"Average number of items in an order: {avg_items_per_order}")

Average number of items in an order: 3.522061694650527

# Thank You for the opportunity